/Projects/FirstProject/nbproject/private/
/Projects/FirstProject/build/
/Projects/FirstApplication/nbproject/private/
/Projects/Wk01FirstApplication/nbproject/private/
/Projects/Wk01FirstApplication/build/
/Projects/wk01AplicacionUno/nbproject/private/
/Projects/wk01AplicacionUno/build/
/Projects/wk01AplicacionUno/dist/
/Projects/wk01Condicionales/nbproject/private/
/Projects/wk01Condicionales/build/
/Projects/wk01Condicionales/dist/
/Projects/wk01Estacionamiento/nbproject/private/
/Projects/wk01Estacionamiento/build/
/Projects/wk01Estacionamiento/dist/
/Projects/wk01Edades/nbproject/private/
/Projects/wk01Edades/build/
/Projects/wk02CicloWhile/nbproject/private/
/Projects/wk02CicloWhile/build/
/Projects/wk02DoWhile/nbproject/private/
/Projects/wk02TablaMultiplicar/nbproject/private/
/Projects/wk02CicloFor/nbproject/private/
/Projects/wk02CicloFor/build/
/Projects/wk02Arrays/nbproject/private/
/Projects/wk02Arrays/build/
/Projects/wk02MetodosJava/nbproject/private/
/Projects/wk02MetodosJava/build/
/Retos/reto01/nbproject/private/
/Retos/reto01/build/
/Retos/reto01Notas/nbproject/private/
/Retos/reto01Academia/nbproject/private/
/Retos/reto01Tienda/nbproject/private/
/Retos/reto01Academia/build/
/Retos/reto01Tienda/build/
/Retos/reto01VarianteCarrera/nbproject/private/
/Retos/reto01VarianteCarrera/build/
/Retos/reto01VarianteNota/nbproject/private/
/Retos/reto01VarianteNota/build/
/Projects/wk01Switch/nbproject/private/
/Projects/wk01Switch/build/
/Projects/POO/nbproject/private/
/Projects/POO/build/
/Retos/reto02ReprodutorMusica/Reto02ReproductorMusica/nbproject/private/
/Retos/reto02ReprodutorMusica/reto02MP3/nbproject/private/
/Retos/reto02ReprodutorMusica/reto02MP3/build/
/Retos/reto02ReprodutorMusica/reto02MP3/dist/
/Projects/wk02NominaMain/nbproject/private/
/Projects/wk03PooHerencia/nbproject/private/
/Projects/wk03PooHerencia/build/
/Projects/wk03PooHerencia/dist/
/Projects/wk02NominaMain/build/
/Projects/wk02ClasePrincipal/nbproject/private/
/Projects/wk02ClasePrincipal/build/
/Projects/wk02ClasePrincipal/dist/
/Projects/wk02Ejemplo/nbproject/private/
/Projects/wk02Ejemplo/build/
/Projects/wk03ArrayList/nbproject/private/
/Projects/wk03PruebaOtroArrayList/nbproject/private/
/Projects/wk03ArrayList/build/
/Retos/reto03Partido/nbproject/private/
/Retos/reto03Partido/build/
/Retos/reto03Partido/dist/
/Retos/wk04InterfazGraficaSwing/nbproject/private/
/Projects/wk04InterfazGraficaSwing/nbproject/private/
/Projects/wk04InterfazGraficaSwing/build/
/Projects/wk04InterfazGraficaSwing/dist/
/Retos/reto04Estudiante/nbproject/private/
/Retos/reto04Estudiante/build/
/Projects/wk05JUnit/target/
/Projects/wk02NominaMain/dist/
/Retos/wk03AplicacionFormulario/nbproject/private/
/Retos/wk03AplicacionFormulario/build/
/Retos/wk03AplicacionFormulario/dist/
